---
# Main sass file
---
@charset "utf-8";

// Our variables
$base-font-size:   16px;
$small-font-size:  0.875 * $base-font-size;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    1024px;

$on-mobile: 600px;
$on-tablet: 700px;
$on-hd: 800px;

@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// @import "semantic-ui", "layout";
@import "layout";
