---
# Main sass file
---
@charset "utf-8";

$title-font: chaparral-pro, helvetica, arial;
$title-size: 32px;
$subtitle-size: 24px;
$subtitle-color: #9E9E9E;
$proj-title-font: chaparral-pro;
$paragraph-font: "Avenir Next", "Helvetica Neue", "Arial", sans-serif;
$paragraph-font-size: 16px;
$margin-size: 40px;
$sidebar-width: 140px;
$box-width: 32%;
$box-color: #F5F5F5;
$mobile-bar-height: 85px;
$spacing-unit: 15px;

$mobile: 590px;
$hd: 1024px;

@import "global", "index", "proj", "photo";

