---
# Main sass file
---
@charset "utf-8";

$title-font: "chaparral-pro", monospace;
$title-size: 30px;
$subtitle-size: 18px;
$subtitle-color: #9E9E9E;
$proj-title-font: "Avenir Next"; // TODO
$paragraph-font: "Avenir Next"; // TODO
$paragraph-font-size: 16px;
$margin-size: 40px;
$sidebar-width: 140px;
$box-width: 32%;
$box-color: #F5F5F5;
$mobile-bar-height: 85px;
$spacing-unit: 15px;

$mobile: 590px;
$hd: 1024px;

@import "global", "index", "proj";

