<footer class="site-footer">
  <div class="wrapper">
    <div class="ui grid">
      <div class="six wide column">
        <ul class="contact-list">
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="six wide column">
        <ul class="social-media-list">
          <li><a class="ui github button" href="https://github.com/{{ site.github_username }}">
						<i class="large github icon"></i>
            timguoqk
          </a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
