<div id="site-sidebar">
	<h1>Tim Guo</h1>
	<a href="/" class="{% if page.url == '/' %}active{% endif %}">Home</a>
	<a href="/about" class="{% if page.url == '/about/' %}active{% endif %}">About me</a>
	<!-- Breadcrumb for the current page -->
	<!-- {% if page.category %}
	<div class="ui breadcrumb">
		<a class="section" href="/">Home</a>
			<i class="right chevron icon divider"></i>
			<a class="section" href="/{{ page.category }}">{{ page.category }}</a>
		<i class="right chevron icon divider"></i>
		<div class="active section">{{ page.title }}</div>
	</div>
	{% endif %} -->
</div>