<div id="site-sidebar">
	<h1>Tim Guo</h1>
	<a href="/" class="{% if page.url == '/' %}active{% endif %}">Home</a>
	<a href="/about" class="{% if page.url == '/about/' %}active{% endif %}">About me</a>
	<a href="/photo" class="{% if page.url == '/photo/' %}active{% endif %}">Photo</a>
	<br />
	{% assign sortedcats = site.categories | sort %}
	{% for category in sortedcats %}
	  {% assign c = category | first %}
	  <a name="{{ c }}" href="/{{ c | slugify }}" class="{% if page.category == c %}active{% endif %}">{{ c }}</a>
	{% endfor %}
</div>