.category-archive {
	ul {
		max-width: 1000px;
	}

	li.list-item {
		height: 120px;
		width: 100%;
		padding: 15px;
		margin-bottom: 10px;

		.left {
			width: 120px;
			height: 120px;
			overflow: hidden;
			float: left;
			margin-right: 30px;

			display: flex;
			justify-content: center;
			align-items: center;

			img {
				max-width: 120px;
				max-height: 120px;
			}
		}

		.mid {
			display: inline-block;
			position: relative;
			width: calc(100% - 330px);
			h3 {
				color: black;
				margin-bottom: 10px;
			}

			p.item-description {
				overflow: hidden;
			}

			p.category {
				position: absolute;
				top: calc(100% + 20px);
			}
			margin-right: 30px;
		}

		.right {
			float: right;
			height: 100%;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;

			a {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 63%;
			}

			a.see-it {
				background: #039BE5;
				margin-bottom: 20px;
			}

			a.read-more {
				color: black;
				background: #F5F5F5;
			}
		}	
	}
}

	