---
layout: default
---
<div class="feature">
	<div id="feature-img"></div>
	<div class="description-area">
		<div class="proj-description-head">
			<h1 id="proj-title">{{ page.title }}</h1>
			<h2 id="proj-category">{{ page.category }}</h2>
			<h3 id="proj-date">{{ page.date | date: "%b %-d, %Y" }}</h3>
		</div>
		<div class="proj-gallery">
			<img src="" alt="" class="proj-img">
		</div>
		{% if page.git or page.link%}
		<div class="proj-extras">
			{% if page.git %}
			<div class="proj-git">
			</div>
			{% endif %}
			{% if page.link %}
			<div class="proj-link">
			</div>
			{% endif %}
		</div>
		{% endif %}
	</div>
</div>
<div class="proj-content">{{ content }}</div>
<!-- TODO: advanced css for markup -->

<script>
	$(function() {
		var colorThief = new ColorThief();
		var color = colorThief.getColor(document.getElementById('feature-img'));
		var Y = 0.2126*color[0] + 0.7152*color[1] + 0.0722*color[2];
		var textColor = Y < 128 ? '#ffffff' : '#000000';
		$('description-area').css('color', textColor); // TODO: children inherit
	});
</script>