---
layout: default
---
<div class="proj-container">
	<div class="non-hover-box proj-description-box" style="background-image: url(/img/{{ page.feature }})">
		<div class="proj-description">
			<div class="proj-description-head">
				<h2 id="proj-title">{{ page.title }}</h2>
				<h3 id="proj-category">{{ page.category }}</h3>
				<h3 id="proj-date">{{ page.date | date: "%b %-d, %Y" }}</h3>
			</div>
			{% if page.images %}
			<div class="box proj-gallery">
				{% for img in page.images %}
				<a class="proj-img" href="../img/{{ img }}" data-lightbox="proj-gallery"><img src="../img/{{ img }}" alt="{{ page.title }}"></a>
				{% endfor %}
			</div>
			{% endif %}
			{% if page.git or page.link%}
			<div class="proj-extras">
				{% if page.git %}
				<a href={{ page.git }} class="proj-git"><i class="fa fa-github fa-2x"></i></a>
				{% endif %}
				{% if page.link %}
				<a href={{ page.link }} class="proj-link"><i class="fa fa-external-link-square fa-2x"></i></a>
				{% endif %}
			</div>
			{% endif %}
		</div>
	</div>
	<div class="proj-content">{{ content }}</div>
</div>

<script>
	function nearestColor(needle) {
		var distance, minDistance = Infinity, rgb, value;
		var colors = [[244,67,54], [156,39,176], [63,81,181], [33,150,243], [0,188,212], [0,150,136], [76,175,80], [139,195,74], [205,220,57], [255,235,59], [255,152,0], [255,87,34], [121,85,72], [96,125,139], [158,158,158], [0, 0, 0]];

		for (var i = 0; i < colors.length; ++i) {
			distance = Math.sqrt(
				Math.pow(needle[0] - colors[i][0], 2) +
				Math.pow(needle[1] - colors[i][1], 2) +
				Math.pow(needle[2] - colors[i][2], 2)
				);

			if (distance < minDistance) {
				minDistance = distance;
				value = colors[i];
			}
		}

		return value;
	}
	var colorThief = new ColorThief();
	var img = new Image();

	$(window).load(function() {
		img.src = $('.proj-description-box').css('background-image').slice(4, -1).replace(/"/g, "");
		var color = nearestColor(colorThief.getColor(img));
		$('.proj-description').css('background-color', 'rgba(' + color[0] + ',' + color[1] + ',' + color[2] + ', 0.9)');
		lightbox.init();
	});
</script>